.footer {
  display: flex;
  justify-content: center;
  height: 80px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: 80px;

    .year,
    .author {
      color: gray;
    }

    .github {
      transition: color 0.5s ease-out;
    }

    .github:hover {
      color: black;
    }

    .rs-logo {
      transition: all 0.5s ease-out;
    }

    .rs-logo:hover {
      transform: scale(1.1);
    }
  }
}