@import "normalize";
$font-main: "Balsamiq Sans";
$color-a: #52c1fb;
$color-b: #6dbd83 ;
$color-c: #fffcad;
$color-d: #ffffff;
$color-e: #000000;
$color-f: #42d4f5;
$color-g: #56db89;

@font-face {
  font-style: normal;
  font-family: "Balsamiq Sans";

  src: url(../assets/fonts/balsamiq-sans/BalsamiqSans-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.blackout {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.blackout-show {
  display: block;
}

.blackout-hide {
  display: none;
}

.menu {
  position: fixed;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100vh;
  font-size: 20px;
  font-family: "Balsamiq Sans";
  color: $color-d;
  background-color: $color-a;

  .menu-close {
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 20px;
    transition: transform 0.5s ease-out;
  }

  .menu-close:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    margin-left: 30px;

    .main-item {
      width: 170px;
      height: 50px;
      padding-top: 15px;
      text-align: center;
      transition: transform 0.5s ease-out;
    }

    .menu-item {
      display: flex;
      width: 170px;
      height: 50px;
      margin-top: 20px;
      transition: transform 0.5s ease-out;

      .menu-title {
        align-self: center;
        margin-left: 10px;
      }
    }

    .stat-item {
      width: 170px;
      height: 50px;
      margin-top: 30px;
      padding-top: 15px;
      text-align: center;
      transition: transform 0.5s ease-out;
    }

    .main-item:hover,
    .menu-item:hover,
    .stat-item:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    .item-enabled {
      background-color: $color-b ;
      border-radius: 5px;
    }
  }
}

.menu-none {
  display: none;
}

.menu-show {
  top: 0;
  left: 0;
  animation: show-menu 0.5s normal;
}

.menu-hide {
  top: 0;
  left: -250px;
  animation: hide-menu 0.5s normal;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding-right: 5%;
  padding-left: 5%;

  &__hamburger {
    width: 40px;
    height: 40px;
    background-image: url("../assets/icons/bars-solid.svg");
  }

  &__hamburger:hover {
    cursor: pointer;
  }

  .hamburger-rotate {
    transform: rotate(90deg);
    transition: transform 0.5s ease-out;
  }

  .humburger-unrotate {
    transform: rotate(0deg);
    transition: transform 0.5s ease-out;
  }

  &__logo {
    position: absolute;
    left: 50%;
    font-size: 40px;
    font-family: "Balsamiq Sans";
    transform: translateX(-50%);
  }

  &__switcher {
    position: relative;
    display: flex;
    align-items: center;
    width: 120px;
    height: 45px;
    font-size: 20px;
    font-family: "Balsamiq Sans";
    background-color: $color-a;
    border-radius: 45px;
    cursor: pointer;

    &_train {
      background-color: $color-a;
    }

    &_play {
      background-color: $color-b;
    }

    .switcher__handle {
      position: absolute;
      // top: 5px;
      left: 2px;
      width: 35px;
      height: 35px;
      background-color: $color-d;
      border-radius: 50%;
      transition: all 0.5s ease-out;
    }

    .switcher__handle_right {
      transform: translateX(81px);
    }

    .switcher__train,
    .switcher__play {
      position: absolute;
      width: 83px;
      text-align: center;
      color: $color-d;
      text-transform: uppercase;
    }

    .switcher__play {
      left: 0;
      display: none;
    }

    .switcher__train {
      left: 37px;
    }
  }
}

.main {
  display: flex;
  justify-content: center;

  .main-container {
    display: flex;
    justify-content: center;
    width: 1280px;
    min-height: calc(100vh - 200px);

    .end-game {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-top: 50px;
      font-size: 35px;
      font-family: "Balsamiq Sans";
    };

    .end-hide {
      display: none;
    }

    .all-categories {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      width: 100%;
      height: 100%;

      .category-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 250px;
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
        border: 1px solid $color-e;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgba(0,0,0,0.25);
        transition: transform 0.5s ease-out;

        .card-title {
          margin-top: 10px;
          font-size: 25px;
          font-family: "Balsamiq Sans";
        }
      }

      .category-box:hover {
        transform: scale(1.05);
        cursor: pointer;
      }

      .category-box-play {
        background-color: $color-c;
        border-color: $color-c;
      }
    }

    .category-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .category-title {
        align-self: center;
        font-size: 35px;
        font-family: "Balsamiq Sans";
      }

      .category-card-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;

        .star-box {
          align-self: center;
          width: 100%;
          height: 35px;
          margin-right: 30px;
          margin-left: 30px;
          overflow: hidden;

          .star {
            display: inline-block;
          }
        }

        .star-box-hide {
          display: none;
        }

        .card-box {
          position: relative;
          width: 280px;
          height: 250px;
          margin-top: 20px;
          margin-right: 20px;
          margin-left: 20px;
          border: 1px solid $color-e;
          border-radius: 5px;
          box-shadow: 0 10px 10px rgba(0,0,0,0.25);
          perspective: 1000px;
          transform-style: preserve-3d;
          transition: transform 0.7s ease-out;

          .card-blackout {
            position: absolute;
            z-index: 2;
            display: none;
            width: 100%;
            height: 100%;
            background-color: $color-d;
            opacity: 0.8;
          }

          .card-box-front,
          .card-box-back {
            position: absolute;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            transition: transform 0.5s ease-out;

            .card-image {
              margin-top: 20px;
              transition: transform 0.5s ease-out;
            }

            .card-front-description,
            .card-back-description {
              position: relative;
              display: flex;
              justify-content: center;
              width: 100%;
              margin-bottom: 15px;

              .card-title {
                font-size: 25px;
                font-family: "Balsamiq Sans";
              }

              .card-btn {
                position: absolute;
                right: 10px;
                width: 30px;
                height: 30px;
                background-color: $color-d;
                background-image: url("../assets/icons/arrow.png");
                background-size: contain;
                border: none;
                outline: none;
              }

              .card-btn:hover {
                transform: rotate(-360deg);
                transition: transform 0.5s ease-out;
              }
            }

            .card-description-hide {
              display: none;
            }
          }

          .card-box-back {
            transform: rotateY(180deg);
          }

          .card-box-front:hover .card-image {
            transform: scale(1.1);
          }
        }

        .card-box-guess {
          border: 2px solid $color-b;
        }

        .card-box-play {
          height: 220px;
        }

        .card-box-rotate {
          transform: rotateY(180deg);
        }

        .card-box:hover {
          cursor: pointer;
        }
      }

      .category-btn {
        align-self: center;
        margin-top: 20px;

        .category-btn-start {
          width: 200px;
          height: 50px;
          padding-top: 13px;
          font-size: 20px;
          font-family: "Balsamiq Sans";
          text-align: center;
          color: white;
          background-color: $color-b;
          border-radius: 5px;
          transition: background-color 0.5s ease-out;
        }

        .category-btn-start:hover {
          background-color: $color-a;
          cursor: pointer;
        }

        .category-btn-refresh {
          display: none;
          width: 50px;
          height: 50px;
          background-color: $color-a;
          border-radius: 50%;
          transition: transform 0.5s ease-out;
        }

        .category-btn-refresh:hover {
          transform: scale(1.1);
          cursor: pointer;
        }
      }

      .category-btn-hide {
        display: none;
      }
    }

    .container-hide {
      display: none;
    }

    .stat {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      min-width: 650px;
      overflow-x: auto;
      font-size: 16px;
      font-family: $font-main;
      color: $color-d;

      .stat-buttons {
        display: flex;
        justify-content: space-between;
        width: 250px;
        margin-bottom: 10px;

        .stat-repeat,
        .stat-reset {
          height: 40px;
          padding-top: 10px;
          padding-right: 10px;
          padding-left: 10px;
          font-size: 16px;
          font-family: $font-main;
          color: $color-d;
          background-color: $color-b;
          border-radius: 5px;
          transition: background-color 0.5s ease-out;
        }

        .stat-repeat:hover,
        .stat-reset:hover {
          background-color: $color-g;
          cursor: pointer;
        }
      }

      .stat-table {
        display: block;
        min-width: 650px;
        overflow: auto;
        border-collapse: collapse;
        line-height: 2rem;
        background-color: $color-a;
        border-radius: 5px;

        .td-category,
        .td-word,
        .td-translation {
          padding-left: 10px;
        }

        .td-train,
        .td-correct,
        .td-incorrect,
        .td-percent {
          text-align: center;
        }
      }
      .stat-table th {
        width: 170px;
        font-size: 20px;
        background-color: $color-f;
        cursor: pointer;
      }

      .stat-table th:hover {
        background-color: $color-b;
        cursor: pointer;
      }

      .stat-table .stat-body tr:hover {
        background-color: $color-f;
        cursor: pointer;
      }
    }

    .stat-hide {
      display: none;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  height: 80px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: 80px;

    .year,
    .author {
      color: gray;
    }

    .github {
      transition: color 0.5s ease-out;
    }

    .github:hover {
      color: black;
    }

    .rs-logo {
      transition: all 0.5s ease-out;
    }

    .rs-logo:hover {
      transform: scale(1.1);
    }
  }
}

@keyframes show-menu {
  from {
    left: -250px;
  }
  to {
    left: 0;
  }
}

@keyframes hide-menu {
  from {
    left: 0;
  }
  to {
    left: -250px;
  }
}

@media (max-width: 680px) {
  .header__logo {
    display: none;
  }

  .main {
    .end-game {
      .success-image > img,
      .failure-image > img {
        width: 250px;
      }

      .success-mistakes,
      .failure-mistakes {
        font-size: 25px;
        text-align: center;
      }
    }
  }
}
